* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  background-color: #23212B;
  font-family: Arial, sans-serif;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

  
/*Carousel style*/



/* Header styles */
.title-wrapper {
  /* Spacing and alignment */
  margin-bottom: 30px;
  text-align: center;
  
  /* Text styles */
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 3px;
  
  /* Gradient text */
  color: #02E7E7;
  background: linear-gradient(to right, #05D2D3, #129EA1, #0AAAAA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* 3D effect */
  position: relative;
  display: inline-block;
}

.title-wrapper::before,
.title-wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  
  /* Background color */
  background: #23212B;
  
  /* Push the background behind the text */
  z-index: -1;
  
  /* Perspective and rotation */
  transform-origin: top;
}

.title-wrapper::before {
  transform: perspective(200px) rotateX(20deg);
}

.title-wrapper::after {
  transform: perspective(200px) rotateX(-20deg);
}

/* Properties styles */
.property-wrapper {
  /* Spacing and alignment */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.property-box {
  /* Box size and shape */
  width: 120px;
  height: 120px;
  border-radius: 10px;
  
  /* Background color and border */
  background-color: #05D2D3;
  border: 2px solid #23212B;
  
  /* Spacing and alignment */
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  /* Hover effect */
  transition: background-color 0.2s ease-in-out;
}

.property-box:hover {
  background-color: #129EA1;
  cursor: pointer;
}

.property-box p {
  /* Text styles */
  color: #FFFFFF;
  font-size: 24px;
  margin-top: 10px;
  
  /* Text shadow */
  text-shadow: 1px 1px #000000;
}

.property-box span {
  /* Text styles */
  color: #FFFFFF;
  font-size: 48px;
  
  /* Text shadow */
  text-shadow: 1px 1px #000000;
  
  /* Positioning */
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translate(-50%, -50%);
}
