body {
    font: 400 1em/1.5 "Neuton";
    background: #090d00;
    color: rgba(255, 255, 255, 0.25);
    text-align: center;
    margin: 0;
    overflow: hidden;
    zoom: 0.72;
  }

  .titleAuction {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  .title-textAuction {
    font-family: 'Anurati', sans-serif;
    font-size: 48px;
    color: #7209b7;
    text-transform: uppercase;
    border: 4px solid #8707ff;
    padding: 12px 24px;
    background-color: #13151E;
    border-radius: 12px;
  }

  .input-field{
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 12px 24px;;
    font-size: 20px;
    background: #13151E;
    max-width: 590px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .token-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .card {
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .quantity {
    margin-top: 5px;
    font-weight: bold;
  }

  .animated-header {
    position: absolute;
    top: 18%;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
  }
  
  .animated-header p {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    display: inline-block;
    border: 4px double rgba(255, 255, 255, 0.25);
    border-width: 4px 0;
    padding: 1.5em 0em;
  }
  
  .animated-header p span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    background: url("./images/animated-text-fill 2.png") repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    animation: aitf 80s linear infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
  
  @-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }
  
  @keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }
  
  .auction-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='w-full h-full' viewBox='0 0 400 400'%3E%3Cdefs%3E%3Cpattern id='bg_pattern' width='100' height='100' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='0' width='100' height='100' fill='%23151619'/%3E%3Crect x='10' y='10' width='80' height='80' fill='%23122355'/%3E%3Crect x='20' y='20' width='60' height='60' fill='%23151619'/%3E%3Crect x='30' y='30' width='40' height='40' fill='%23122355'/%3E%3Crect x='40' y='40' width='20' height='20' fill='%23151619'/%3E%3Crect x='0' y='0' width='50' height='50' fill='%23151619'/%3E%3Crect x='0' y='0' width='40' height='40' fill='%23122355'/%3E%3Crect x='0' y='0' width='30' height='30' fill='%23151619'/%3E%3Crect x='0' y='0' width='20' height='20' fill='%23122355'/%3E%3Crect x='0' y='0' width='10' height='10' fill='%23151619'/%3E%3Crect x='50' y='50' width='50' height='50' fill='%23151619'/%3E%3Crect x='60' y='60' width='40' height='40' fill='%23122355'/%3E%3Crect x='70' y='70' width='30' height='30' fill='%23151619'/%3E%3Crect x='80' y='80' width='20' height='20' fill='%23122355'/%3E%3Crect x='90' y='90' width='10' height='10' fill='%23151619'/%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%' height='100%' fill='%23f9f9ff'/%3E%3Crect x='0' y='0' width='100%' height='100%' fill='url(%23bg_pattern)'/%3E%3C/svg%3E");
  }
  
  .auction-page h1 {
    font-size: 42px;
    color: #0000FF;
    margin-bottom: 0;
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  .auction-page .big-button {
    border: 2px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    font-size: 24px;
    padding: 16px 32px;
    text-decoration: none;
    background-color: #13151E;
  }
  
  .auction-page .big-button:hover {
    background-color: #7209B7;
    cursor: pointer;
  }
  
  .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
  }

  .choose-button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px; /* Increase the margin-bottom to create more space */
    transition: background-color 0.3s;
    background-color: #13151E;
    border-radius: 8px;
    margin-left: 10px;
  }
  
  
  .choose-button:hover {
    background-color: #7209b7;
  }
  
  .footer {
    z-index: 1;
    --footer-background: #7209B7;
    display: grid;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 8rem;
  }
  
  .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2rem;
    background: var(--footer-background);
    filter: url("#blob");
  }
  
  .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
      bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  
  .footer .content {
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 2rem;
    background: var(--footer-background);
  }
  
  .footer .content a,
  .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
  }
  
  .footer .content b {
    color: white;
  }
  
  .footer .content p {
    margin: 0;
    font-size: 0.75rem;
  }
  
  .footer .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer .content > div > div {
    margin: 0.25rem 0;
  }
  
  .footer .content .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }
  
  @keyframes bubble-size {
    0%,
    75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  