
.create-nft {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.title-text {
  font-family: 'Anurati', sans-serif;
  font-size: 48px;
  color: #7209b7;
  text-transform: uppercase;
  border: 4px solid #8707ff;
  padding: 12px 24px;
  background-color: #13151E;
  border-radius: 12px;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.custom-button {
  border: 2px solid white;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 40px; /* Increase the margin-bottom to create more space */
  transition: background-color 0.3s;
  background-color: #13151E;
  border-radius: 8px;
}


.custom-button:hover {
  background-color: #7209b7;
}


.image-container {
  width: 600px; /* Increase the width to make it bigger */
  height: 300px; /* Increase the height to make it bigger */
  border: 1px solid #13151E;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust the margin-top to move it closer to the top */
  margin-bottom: 20px;
  background-color: #13151E;
}


.selected-image {
  max-width: 100%;
  max-height: 100%;
}

.file-input {
  margin-bottom: 10px;
}

.input-container {
  margin-left: 20px;
  text-align: center;
}

.input-row {
  display: flex;
  /* Use flex layout for input rows */
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.input-label {
  flex-basis: 150px;
  /* Set a fixed width for the input label */
  text-align: left;
}

.address-field{
  color: #8707ff;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 12px 24px;;
  font-size: 20px;
  background: #13151E;
  max-width: 190px;
  margin-left: 10px;
}

.input-field {
  color: #8707ff;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 12px 24px;;
  font-size: 20px;
  background: #13151E;
  max-width: 190px;
  margin-left: 10px;
 }
 
 .input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
 }


.property-box-container {
  height: 200px;
  /* Adjust the height as needed */
  overflow: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: #13151E;
  
}

.property-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.property-table {
  display: table;
  width: 100%;
}

.property-row {
  display: table-row;
}

.property-header {
  font-weight: bold;
}

.property-name,
.property-value,
.property-delete {
  display: table-cell;
  padding: 5px;
  border-bottom: 1px solid #ffffff;
  color: white;
}

.property-name {
  font-weight: bold;
}

.property-rows {
  display: table-row-group;
}

.loading-box,
.response-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Higher z-index to ensure it appears on top */
  color: #ffffff; /* Text color */
  font-size: 24px; /* Font size */
}

.response-box {
  background-color: rgba(0, 0, 0, 0.8); /* Darker background for response box */
  padding: 24px; /* Padding for response box */
}

.loading-box span,
.response-box span {
  text-align: center;
}

.loading-box span {
  font-weight: bold;
}

.response-box span {
  white-space: pre-line; /* Preserve line breaks in the response text */
}


.add-button,
.delete-button{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px; /* Increase the margin-bottom to create more space */
  transition: background-color 0.3s;
  background-color: #13151E;
  border-radius: 8px;
  margin-left: 10px;
}


.add-button:hover {
  background-color: #7209b7;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 23rem;
  height: 5rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-top: 10px;
  /* Add the following properties */
  position: relative;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 12px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
  /* Add the following properties */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}


/* Remove the margin-top property from the .btn:hover selector */

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #FE53BB;
}


#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
