.create-nft {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.image-container {
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 20px;
}

.selected-image {
  max-width: 100%;
  max-height: 100%;
}

.file-input {
  margin-bottom: 10px;
}

.input-container {
  margin-left: 20px;
  text-align: center;
}

.input-row {
  display: flex;
  /* Use flex layout for input rows */
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.input-label {
  flex-basis: 150px;
  /* Set a fixed width for the input label */
  text-align: left;
}

.input-field {
  flex-grow: 1;
  /* Allow the input field to grow to fill remaining space */
  width: 200px;
  /* Set a fixed width for the input field */
  height: 30px; /* Increase the height to 50px */
  margin-right: 10px;
  /* Add some space between input fields */
}

.button-container {
  display: flex;
}

.property-box-container {
  height: 200px;
  /* Adjust the height as needed */
  overflow: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: yellow;
}

.property-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.property-table {
  display: table;
  width: 100%;
}

.property-row {
  display: table-row;
}

.property-header {
  font-weight: bold;
}

.property-name,
.property-value {
  display: table-cell;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.property-name {
  font-weight: bold;
}

.property-rows {
  display: table-row-group;
}
