.create-nft {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.custom-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 40px; /* Increase the margin-bottom to create more space */
  transition: background-color 0.3s;
  background-color: #13151E;
}


.custom-button:hover {
  background-color: #7209b7;
}


.image-container {
  width: 600px; /* Increase the width to make it bigger */
  height: 300px; /* Increase the height to make it bigger */
  border: 1px solid #13151E;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust the margin-top to move it closer to the top */
  margin-bottom: 20px;
  background-color: #13151E;
}


.selected-image {
  max-width: 100%;
  max-height: 100%;
}

.file-input {
  margin-bottom: 10px;
}

.input-container {
  margin-left: 20px;
  text-align: center;
}

.input-row {
  display: flex;
  /* Use flex layout for input rows */
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.input-label {
  flex-basis: 150px;
  /* Set a fixed width for the input label */
  text-align: left;
}

.input-field {
  color: #8707ff;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: #13151E;
  max-width: 190px;
 }
 
 .input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
 }

.button-container {
  display: flex;
}

.property-box-container {
  height: 200px;
  /* Adjust the height as needed */
  overflow: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: yellow;
}

.property-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.property-table {
  display: table;
  width: 100%;
}

.property-row {
  display: table-row;
}

.property-header {
  font-weight: bold;
}

.property-name,
.property-value {
  display: table-cell;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.property-name {
  font-weight: bold;
}

.property-rows {
  display: table-row-group;
}

.add-button{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px; /* Increase the margin-bottom to create more space */
  transition: background-color 0.3s;
  background-color: #13151E;
}


.add-button:hover {
  background-color: #7209b7;
}
