.home-page {
  position: relative;
  text-align: center;
  padding: 40px;
  background-image: url('./images/Mario-Luigi-movie.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page h1 {
  font-size: 32px;
  color: #eb3b00;
  margin-bottom: 20px;
}

.home-page .big-button {
  background-color: yellow;
  border: 2px solid #8b4513;
  border-radius: 8px;
  color: #8b4513;
  font-size: 24px;
  padding: 16px 32px;
  text-decoration: none;
}

.home-page .big-button:hover {
  background-color: #fddc87;
  cursor: pointer;
}
